<!--The content below is only a placeholder and can be replaced.-->

<div class='appContainer'>
  <div id='appTop' >
    <button (click) = "setMapLibTo('Leaflet')" > Leaflet </button>
    <button (click) = "setMapLibTo('OpenLayers')" > OpenLayers </button>
    <h2>
    {{libView}}
    </h2>
    <app-leaflet-canvas *ngIf="libView === 'Leaflet'"></app-leaflet-canvas>
    <app-ol-canvas *ngIf="libView === 'OpenLayers'"></app-ol-canvas>

      
    </div>
    <nav>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/places">Places</a>
    </nav>
    <router-outlet></router-outlet>
    <br><br><br>
  </div>
  <app-messages></app-messages>



